/* Estrutura da página */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.main-content {
  flex: 1;
}

/* Seção de contato */
.contato-section {
  padding: 3rem 1rem;
  background-color: #f0f2f5;
  color: #333;
}

/* Container flex com espaçamento e alinhamento */
.contato-flex {
  max-width: 900px;
  margin: 0 auto;
  background: #38393a31;
  border-radius: 10px;
  padding: 3rem 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* Título */
.contato-titulo {
  font-size: 2.5rem;
  color: #0077b6;
  margin: 0;
  white-space: nowrap; /* Evita quebra do título */
}

/* Linha vertical verde separando os lados */
.linha-vertical {
  width: 3px;
  height: 120px;
  background-color: #3577b9;
  border-radius: 2px;
}

/* Informações de contato */
.contato-info {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  flex: 1;
}

.contato-info p {
  font-size: 1.2rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
}

.contato-info i {
  font-size: 1.5rem;
  color: #0077b6;
}

/* Footer */
.site-footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #004080;
  color: #fff;
}

@media (max-width: 600px) {
  .contato-flex {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }

  .contato-titulo {
    white-space: normal;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .linha-vertical {
    display: none;
  }

  .contato-info {
    align-items: left;
  }

  .contato-info p {
    justify-content: flex-start; /* ou center, se preferir centralizado */
    align-items: center;
    gap: 10px;
    text-align: left;
    max-width: 300px;
  }

  .contato-info i {
    font-size: 1.3rem;
  }
}

/* MAPA */
.mapa-section {
  width: 100%;
  padding: 40px 15px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.mapa-wrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.mapa-title {
  text-align: center;
  color: #2828299a;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

.mapa-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporção 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.mapa-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
